NOMBRE_INSTANCIA=PLANIFICADOR
PUERTO_ESCUCHA_CONEXIONES=8000
/*SJF_SD=0; SJF_CD=1; HRRN=2*/
ALGORITMO_PLANIFICACION=0
ESTIMACION_INICIAL=3
IP_COORDINADOR=127.0.0.1
PUERTO_COORDINADOR=8001
PUERTO_COORDINADOR_CONSOLA=8002
CLAVES_INICIALMENTE_BLOQUEADAS=[bebida13,segundoplato:ingrediente3]
CANTIDAD_MAXIMA_CLIENTES=40
TAMANIO_COLA_CONEXIONES=40
ALPHA=50
